/*---------------mes animation-------------------*/
@keyframes fondu-ny{
    0%{background-image: url(../img/ny1.jpg);}
   25%{background-image: url(../img/ny2.jpg);}
   50%{background-image:  url(../img/ny3.jpg);}
    75%{background-image:  url(../img/ny4.jpg);}
    100%{background-image:  url(../img/ny1.jpg);}
}
@keyframes images{
    0%{ transform: translateX(0);}
    10%{ transform: translateX(0);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-100%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-400%);}
    90%{transform: translateX(-400%);}
    100%{transform: translateX(-500%);}
}

@keyframes rotation {
    0% {
      transform: perspective(100000px) rotate3d(1,1,1,0deg);
    }
    50%{
      transform: perspective(100000px) rotate3d(1,1,1,180deg);
    }
    100% {
      transform: perspective(100000px) rotate3d(1,1,1,360deg);
    }
  }



header{
    z-index: 2;
    position: relative;
}

main{
    background: black;
}

/*-----------------caroussel-------------------*/

.taille{
    width: 100%;
    height: 500px;
}

.carousselcontain{
    display: flex;
    justify-content: center; 
    overflow: hidden;
}

.caroussel{
width: 65%;
overflow: hidden;
border:1px solid #333;
border-radius: 10px;
}

.images{
    display: flex;
    animation-duration: 20s;
    animation-name: images;
    animation-iteration-count: infinite;
}

/*-------Les 2 coté du caroussel---------*/
.element{
    display: flex;
    flex-wrap: wrap;
    width:17.5% ;
    background: darkblue;
    background-image: url(../img/drapeauetats.jpg);
    animation: rotation 2s linear ;
    text-align: center;
    align-items: center;
    font-size: 25px;
    color: red;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
    list-style: none;
}

ul{
    list-style: none;
}
/*---------------arriere plan-------------------*/

.arriereplan {
    position: relative;
    overflow: hidden; 
}

.arriereplan:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url(../img/usa9.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.dessusimage{
    z-index: 2;
    position: relative;
}

/*---------------defilement image en fondu-------------------*/

.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: seashell;
    text-align: center;
}

.enfant{
    max-width: 30%;
    margin: 20px;
    padding-top: 30px;
}

.defilementimage{
    width: 100%;
    height: 0px;
    padding-top: 75%;
    box-shadow: 0px 0px 10px #777;
    background-color: #EDEDED;
    background-size: contain;

}

.animny{
        animation: fondu-ny 15s ease-in-out infinite both;
}



.defilementimage:hover{
    animation-play-state: paused;
}


