#bodyv1{
    /* background-color: #E8985E; */
    /* background-image: url(../img/Drapeau_du_Mexique.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
}
.Mexico{
    
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    background-color: #928be2;
    justify-content: space-between;
    padding-bottom: 2%;   
    
}

.sectionv1{
    justify-content: center;
    display: flex;
}
.titrev1{
    background-color: #c9ab8a;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 120%;
    font-family: Kumar One ;
    font-size: 140%;
    width: 30%;
}

.introv1{
    padding-top: 2%;
    padding-bottom: 2%;
    /* border: green solid; */
    background-color: #b6a1a8;
   
}

.textev12{
    /* border: violet solid; */
    margin-left: 20%;
    margin-right: 20%;
}

.textev1{
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    /* border: yellow solid ; */
}

.listevillev1{
    flex-wrap: wrap;
    display: flex;
    /* border: solid red; */
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 4%;
    list-style-type: none;   
    background-color: #b6a1a8; 
}

.elementv1{
    width: 400px;
    height: 400px;
   background-color: #dbb66d;
    margin: 20px;
    border-radius: 22%;
    align-content: flex-end;
    /* border: solid rgb(130, 231, 238); */
    padding-bottom: 2%;
}

.imagev1{
    height: 100%;
    width: 100%;
    border-radius: 20%;
    /* border: solid rgb(0, 255, 55); */
}

#test{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}



/* ----------------diapo------------- */

.d111{
    width: 960px;
    height: 640px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-size: contain;
    background-color: #ededed;
    animation: fondu 15s ease-in-out infinite both;
}

/* .contennneur{
    max-width: 940px;
    margin: 0px auto;
} */

/* .d222{
    width: 111%;
    height: 0px;
    padding-top: 75%;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
    background-color: #ededed;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;

} */

@keyframes fondu{
    0%{background-image: url(../img/cenote.jpg);}
    33%{background-image: url(../img/chchen-itza.jpg);}
    66%{background-image: url(../img/Mazunté.jpg);}
    100%{background-image: url(../img/cenote.jpg);}

}