main{
    background-image: url(../img/guate.JPG);
        background-repeat: no-repeat;
        background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sectionv6{
    display: flex;
    justify-content: center;
}

.titrev6{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 30%;
    border: solid rgb(19, 201, 73);
    margin-top: 2%;
    /* border-radius: 25%; */
    border-style: inset;

}

.sectionpv6{
        text-align: center;
        margin-top: 2%;
        background-image: url(../img/guate.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        
}
.introv6{
    font-size: 150%;
    font-family: fantasy;
    font-style: italic;
}
.tableauv6{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tableauv6, #theadv6, th, tr{
    /* font-size: 80%; */
    border: rgb(49, 175, 45) solid;
    border-style: dashed double;
}

.drapeauv6 img:hover{
    transform: scale(1.1) rotate(10deg);
}

.photov6{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;  
}

.img6v:hover{
    animation: rotation 2.5s ;
    size: 50%;
}

.img6v1:hover{
    animation: rotation 2.5s reverse;
}

@keyframes rotation {
    0% {
      transform: rotate3d(1,1,1,0deg);
    }
    25%{
      transform: rotate3d(1,1,1,90deg);
    }
    50%{
      transform: rotate3d(1,1,1,180deg);
    }
    75%{
      transform: rotate3d(1,1,1,270deg);
    }
    100% {
      transform: rotate3d(1,1,1,360deg);
    }
  }

  .img6v{
      margin-top: 2%;
  }
  .img6v1{
      margin-top: 2%;
  }