/*---------------mes animation-------------------*/

@keyframes images{
    0%{ transform: translateX(0);}
    10%{ transform: translateX(0);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-100%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-400%);}
    90%{transform: translateX(-400%);}
    100%{transform: translateX(-500%);}
}

@keyframes rotation {
    0% {
      transform: perspective(100000px) rotate3d(1,1,1,0deg);
    }
    50%{
      transform: perspective(100000px) rotate3d(1,1,1,180deg);
    }
    100% {
      transform: perspective(100000px) rotate3d(1,1,1,360deg);
    }
  }



header{
    z-index: 2;
    position: relative;
}

main{
    background: black;
}

/*-----------------caroussel-------------------*/

.taille{
    width: 100%;
    height: 500px;
}

.carousselcontain{
    display: flex;
    justify-content: center; 
    overflow: hidden;
}

.caroussel{
width: 65%;
overflow: hidden;
border:1px solid #333;
border-radius: 10px;
}



.images{
    display: flex;
    animation-duration: 20s;
    animation-name: images;
    animation-iteration-count: infinite;
}

/*-------Les 2 coté du caroussel---------*/
.element{
    display: flex;
    flex-wrap: wrap;
    width:17.5% ;
    background: darkblue;
    background-image: url(../img/drapeauetats.jpg);
    animation: rotation 2s linear ;
    text-align: center;
    align-items: center;
    font-size: 25px;
    color: red;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
    list-style: none;
}

ul{
    list-style: none;
}
/*---------------arriere plan-------------------*/

.arriereplan {
    position: relative;
    overflow: hidden; 
}

.arriereplan:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url(../img/usa9.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.dessusimage{
    z-index: 2;
    position: relative;
}

/*---------------defilement image en fondu-------------------*/

.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: seashell;
    text-align: center;
}

.enfant{
    max-width: 28%;
    margin: 15px;
    padding-top: 50px;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.enfant:hover{
    transform: scale(1.1);
}


.taille1{
    width:100% ; 
    height: 330px;
 }
 .caroussel1{
     border-radius: 9% 9% 0% 0%;
     overflow: hidden;
     opacity: 0;
 }

 .caroussel1:hover{
    opacity: 1;
}

.form{
    border-radius:0% 0% 9% 9%;
    height: 279px;
    box-shadow: inset 5px 5px 10px #5a5a5a,
            inset -5px -5px 10px #ffffff;
}

.styleh1{
    text-align: center;
    color: azure;
    padding-top: 20px;
}

/*-----------------formulaire------------------*/
form{
    display: flex;
    justify-content: center;
    padding: 25px;
}
fieldset{
    height: 470px;
    border-radius: 45px;
    padding: 55px;
    color:#4d4dff; 
    box-shadow: inset 5px 5px 10px #5a5a5a,
    inset -5px -5px 10px #ffffff;
}
legend{
    font-size: 50px;
    text-shadow:2px 2px 2px black;
}
.secform{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.formelmt{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    color: #4d4dff;
}
.agef{
    border-radius: 10px;
    height: 30px;
    background-color: transparent;
    color: #4d4dff;
}

.ztexte{
    display: flex;
    justify-content: center;
   }
textarea{
    height: 100px;
    width: 500px;
   border-radius: 10px;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: #4d4dff;
}
.valide{
    padding: 15px;
}
.val{
   width: 100px;
   height: 30px;
   border-radius: 10px;
   background-color: rgb(155, 155, 155);
   cursor: pointer;
   text-shadow:2px 2px 2px black;
   font-size: 20px;
   color:rgb(205, 206, 141);
   transition: width 1s, height 1s, background-color 1s, transform 1s;
   font-family: fantasy;
}

.val:hover{
    transform: scale(1.2);
    color: darkolivegreen;
    background-color: whitesmoke;
}

.check{
    text-align: center; 
}

.curseur{
    cursor: pointer;
}