.Mexico{
    font-family: Kumar One ;
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
}

.titrev1{
    background-image: url(../img/Drapeau_du_Mexique.jpg);
    display: flex;
    justify-content: center;
    border: solid;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 2%;
}

.introv1{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: red;
}

.listev1{
    flex-wrap: wrap ;
    display: flex;
    background-color: royalblue;
}

.listevillev1{
    flex-wrap: wrap;
    display: flex;
    border: solid;
    justify-content: space-around;
    background-color: violet;
    padding-top: 2%;
}

.elementv1{
    width: 400px;
    height: 400px;
    background-color: lawngreen;
    margin: 20px;
    
}

.imagev1{
    height: 100%;
    width: 100%;
}

