*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------header---------------------*/
header{
    display: flex;
    background-image: linear-gradient(
        to top, #4d4dff, #8080ff
    );
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: auto;
}

.child1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.child1 img {
    width: 5vw;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    filter: invert(100%);
}

.child1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.child2{
width:360px;
display: flex;
justify-content: space-around;
}

button {
    background-color: #b3b3ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 12vw;
    height: 10vh;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    border-radius:0px 0px 14px 14px;
}

.dropdown-content a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: #4d4dff;
}

/*----------------------footer--------------------------*/
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(
        to top,
        #4d4dff,
        #8080ff
    );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    bottom: 0;
}

#contact
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    margin: 0;
}