#bodyv1{
    /* background-color: #E8985E; */
    /* background-image: url(../img/Drapeau_du_Mexique.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
}
.Mexico{
    
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    background-color: #928be2;
    justify-content: space-between;
    padding-bottom: 2%;   
    
}

.sectionv1{
    justify-content: center;
    display: flex;
}
.titrev1{
    /* background-color: #c9ab8a; */
    background-image: url(../img/Drapeau_du_Mexique.jpg);
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 120%;
    font-family: Kumar One ;
    font-size: 140%;
    width: 30%;
}

.introv1{
    padding-top: 2%;
    padding-bottom: 2%;
    /* border: green solid; */
    background-color: #b6a1a8;
   
}

.textev12{
    /* border: violet solid; */
    margin-left: 20%;
    margin-right: 20%;
}

.textev1{
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    /* border: yellow solid ; */
}

.listevillev1{
    flex-wrap: wrap;
    display: flex;
    /* border: solid red; */
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 4%;
    list-style-type: none;   
    background-color: #b6a1a8; 
}

.elementv1{
    width: 400px;
    height: 400px;
   background-color: #dbb66d;
    margin: 20px;
    border-radius: 22%;
    align-content: flex-end;
    /* border: solid rgb(130, 231, 238); */
    padding-bottom: 2%;
}

.imagev1{
    height: 100%;
    width: 100%;
    border-radius: 20%;
    /* border: solid rgb(0, 255, 55); */
}

#test, #test2, #test3{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}



/* ----------------diapo------------- */

.d111{
    width: 960px;
    height: 640px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-size: contain;
    background-color: #ededed;
    animation: fondu 15s ease-in-out infinite both;
    border-radius: 45%;
}


@keyframes fondu{
    0%{background-image: url(../img/cenote.jpg);}
    12%{background-image: url(../img/cenote2.jpg);}
    25%{background-image: url(../img/cenote3.JPG);}
    37%{background-image: url(../img/cenote4.JPG);}
    50%{background-image: url(../img/cenote5.JPG);}
    62%{background-image: url(../img/cenote6.JPG);}
    75%{background-image: url(../img/cenote7.JPG);}
    87%{background-image: url(../img/cenote8.JPG);}
    100%{background-image: url(../img/cenote.jpg);}

}




/*  diapo 2  */


.d222{
    width: 960px;
    height: 640px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-size: contain;
    background-color: #ededed;
    animation: fondu2 15s ease-in-out infinite both;
    border-radius: 45%;
    
}
@keyframes fondu2{
    0%{background-image: url(../img/chichen-itza.JPG);}
    12%{background-image: url(../img/chichen-itza2.JPG);}
    25%{background-image: url(../img/chichen-itza3.JPG);}
    37%{background-image: url(../img/chichen-itza4.JPG);}
    50%{background-image: url(../img/chichen-itza5.JPG);}
    62%{background-image: url(../img/chichen-itza6.JPG);}
    75%{background-image: url(../img/chichen-itza7.JPG);}
    87%{background-image: url(../img/chchen-itza.JPG);}
    100%{background-image: url(../img/chichen-itza.jpg);}

}


/*   diapo 3   */

.d333{
    width: 960px;
    height: 640px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-size: contain;
    background-color: #ededed;
    animation: fondu3 15s ease-in-out infinite both;
    border-radius: 45%;
}

@keyframes fondu3{
    0%{background-image: url(../img/muséeanthro.JPG);}
    12%{background-image: url(../img/muséeanthro2.JPG);}
    25%{background-image: url(../img/muséeanthro3.JPG);}
    37%{background-image: url(../img/muséeanthro4.JPG);}
    50%{background-image: url(../img/muséeanthro5.JPG);}
    62%{background-image: url(../img/muséeanthro6.JPG);}
    75%{background-image: url(../img/muséeanthro7.JPG);}
    87%{background-image: url(../img/muséeanthro8.JPG);}
    100%{background-image: url(../img/muséeanthro.jpg);}
}

/*   diapo 4  */

.d444{
    width: 960px;
    height: 640px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-size: contain;
    background-color: #ededed;
    animation: fondu4 15s ease-in-out infinite both;
    border-radius: 45%;
}

@keyframes fondu4{
    0%{background-image: url(../img/teotihuacan.JPG);}
    12%{background-image: url(../img/teotihuacan2.JPG);}
    25%{background-image: url(../img/teotihuacan3.JPG);}
    37%{background-image: url(../img/teotihuacan4.JPG);}
    50%{background-image: url(../img/teotihuacan5.JPG);}
    62%{background-image: url(../img/teotihuacan6.JPG);}
    75%{background-image: url(../img/teotihuacan7.JPG);}
    87%{background-image: url(../img/teotihuacan8.JPG);}
    100%{background-image: url(../img/teotihuacan.jpg);}
}