*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------header---------------------*/
header{
    display: flex;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.child1{
background-color: chartreuse;
}

.child2{
width:360px;
background-color: cyan;
display: flex;
justify-content: space-around;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 175px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    border-radius:0px 0px 14px 14px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: #3e8e41;
}

/*----------------------footer--------------------------*/
footer{
    height: 150px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}